

.block-container {
    /* display: flex;
    flex-direction: row;
  
    
    width: 90%; */
    flex: 1;

    display: flex;
    justify-content: center;
    flex-direction: row;
    border: solid black;
    justify-content: space-between;
    height: 50%;

}